!/node_modules/@mcbe
/node_modules/@mcbe/*
##<packages>
!/node_modules/krevent
!/node_modules/krlog
!/node_modules/krchecktimer
!/node_modules/krfileutil
!/node_modules/krgeometry
!/node_modules/mcaddon-lang2ts
!/node_modules/@mcbe/store
!/node_modules/@mcbe/dummy-console
!/node_modules/@mcbe/ruakr_const
!/node_modules/@mcbe/ruakr_util
!/node_modules/@mcbe/system_shared
!/node_modules/@mcbe/system_server
!/node_modules/@mcbe/system_client
!/node_modules/@mcbe/identifier
!/node_modules/@mcbe/command
!/node_modules/@mcbe/event
!/node_modules/@mcbe/event_server
!/node_modules/@mcbe/event_client
!/node_modules/@mcbe/lang
!/node_modules/@mcbe/nexttick
!/node_modules/@mcbe/timer
!/node_modules/@mcbe/console
!/node_modules/@mcbe/scoreboard
!/node_modules/@mcbe/recipe
!/node_modules/@mcbe/item
!/node_modules/@mcbe/farticker
!/node_modules/@mcbe/version
##</packages>