/node_modules/*
!/node_modules/@mcbe
!/node_modules/@types
/node_modules/@mcbe/*
/node_modules/@types/*
##<packages>
!/node_modules/krevent
!/node_modules/krlog
!/node_modules/@mcbe/dummy-console
!/node_modules/@mcbe/ruakr_const
!/node_modules/@mcbe/ruakr_util
!/node_modules/@mcbe/system_shared
!/node_modules/@mcbe/system_server
!/node_modules/@mcbe/identifier
!/node_modules/@mcbe/command
!/node_modules/@mcbe/event
!/node_modules/@mcbe/lang
!/node_modules/@mcbe/nexttick
!/node_modules/@mcbe/ruacore_server
!/node_modules/@mcbe/timer
!/node_modules/@mcbe/console
##</packages>
*.js
*.js.map
*.d.ts
!/node_modules/@types/**/*.d.ts
!/publish.js